<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div id="nav1">
        <div>
            <h3><span>Need help? Call us(+91) 0123 456 789</span></h3>
        </div>
        <div>
            <div><span class="material-symbols-outlined">
                    location_on
                </span>
                <h3><span>Our Store</span></h3>
            </div>
            <div>
                <span class="material-symbols-outlined">
                    local_shipping
                </span>
                <h3><span>Track your order</span></h3>
            </div>
        </div>
    </div>

    <div id="nav2">
        <div>
            <img src="../electon logo.png" alt="">
        </div>
        <div>
            <input type="text" id="srcipt" placeholder="Enter for Search">
            <button id="srbtn">Search</button>
        </div>
        <div>
            <div>
                <span class="material-symbols-outlined">
                    person
                </span>
                <h3>
                    <a href="../ecom app/signup.html" style="color: white; text-decoration: none;">Sign in</a>
                </h3>
            </div>
            <div>
                <div>
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    <h3><a href="../cart.html" style="color: white; text-decoration: none;">Cart</a></h3>
                </div>
            </div>
        </div>        
    </div >

    <div id="nav3">
        <div  class="wrappe">

            <div>
                <ul class="nav-links">
                    <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                
                    <li>
                        
                            <a href="../products.html" class="desktop-item" style="color: white; background-color: #eda515;">Browse Categories</a>
                        
                
                        <label for="showMega" class="mobile-item">Products</label>
                        <div class="mega-box">
                            <div class="content">
                
                                <div class="row">
                                    <header>Shop category</header>
                                    <ul class="mega-links">
                                        <li><a href="../products.html">Laptops</a></li>
                                        <li><a href="../products.html">Mouse</a></li>
                                        <li><a href="../products.html">Gaming Controllers</a></li>
                                        <li><a href="../products.html">Cameras</a></li>
                                        <li><a href="../products.html">HeadSets</a></li>
                                    </ul>
                                </div>
                
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
        <div>
            <h3><a href="../index.html" style="text-decoration: none;">Home</a></h3>
            <h3><a href="../products.html" style="text-decoration: none;">Products</a></h3>
        </div>
        <div>
            <h3><strong>30 Days Free Return</strong></h3>
        </div>
    </div>
    
</body>

</html>